@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

:root {
    --border-color: #d1d8dd;
    --border: 1px solid var(--border-color);
    --text-color: #36414C;
    --navbar-font-size: 1.25rem;
    --light-bg: #f5f7fa;
    --primary-color: #7575ff;
    --primary-color-hover: #5b5be5;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: var(--text-color);
}

body {
    position: relative;
}

code {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1 {
    font-size: 2.5rem;
    margin: 2rem 0 4rem 0;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 1.5rem;
    background-color: white;
    z-index: 1;
    border-bottom: var(--border);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--navbar-font-size);
}

.container {
    max-width: 720px;
    margin: 0 auto;
}

.logo {
    max-width: 8rem;
}

.footer-logo {
    max-width: 3rem;
    max-height: 3rem;
    padding: 0.5rem;
    background-color: #fff;
    transform: translateY(-50%);
}

.text-center {
    text-align: center;
}

.padding-1 {
    padding: 0.5rem;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem 0;
}

.showcase.align-center {
    align-items: center;
}

.features {
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.features ul {
    padding-left: 2rem;
    flex: 1;
}

[class^="example-"] {
    display: flex;
    justify-content: center;
    width: 100%;
}

.code {
    text-align: left;
    width: 100%;
    margin: 1rem 0;
}

.hljs {
    padding: 2rem;
    border-left: 2px solid var(--border-color);
    background-color: var(--light-bg);
}

footer {
    border-top: 1px solid #d1d8dd;
}

.download-button {
    color: #fff;
    background-color: var(--primary-color);
    border: 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 3px;
}

.download-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

/* .data-table-header {
    background: #f7fafc;
    color: #8d99a6;
} */

