/* variables */

:root {
	--border-color: #d1d8dd;
	--primary-color: rgb(82, 146, 247);
	--light-bg: #f5f7fa;
}

/* resets */
*, *::after, *::before {
	box-sizing: border-box;
}

button, input {
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

/* styling */

.data-table * {
	outline: none;
}

.data-table {
	width: 100%;
	position: relative;
	overflow: auto;

	table {
		border-collapse: collapse;
	}

	table td {
		padding: 0;
		border: 1px solid var(--border-color);
	}

	thead td {
		border-bottom-width: 2px;
	}
}

.body-scrollable {
	max-height: 500px;
	overflow: auto;
	border-bottom: 1px solid var(--border-color);
}

.data-table-header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	font-weight: bold;
	cursor: col-resize;

	.content span {
		cursor: pointer;
	}

	.sort-indicator {
		position: absolute;
		right: 8px;
		top: 9px;
	}
}

.data-table-col {
	position: relative;

	.content {
		padding: 8px;
		border: 2px solid transparent;

		&.ellipsis {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	.edit-cell {
		display: none;
		// position: absolute;
		padding: 8px;
		background: #fff;
		z-index: 1;
		height: 100%;

		input {
			outline: none;
			width: 100%;
			border: none;
			height: 1em;
		}
	}

	&.selected .content {
		border: 2px solid var(--primary-color);
	}

	&.editing {
		.content {
			display: none;
		}

		.edit-cell {
			border: 2px solid var(--primary-color);
			display: block;
		}
	}
}

.data-table-row {
  &.row-highlight {
    background-color: var(--light-bg);
  }
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}